.img{
    height: 290px;
    
}

body{
    padding: 0%;
    margin: 0%;
     max-width: 4000px;
}
main{
    padding: 5%;
    background-color: rgb(67, 73, 76);
}
.container-fluid{
    background-color: rgb(67, 73, 76);
    font-size: 4vh;
}


.container-fluid{
padding: 2%;
border-radius: 15px;


}
.navbar-nav .nav-link {
  position: relative;
  transition: all 0.3s ease;
  color: rgb(16, 121, 76);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
 
}



.navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(16, 121, 76) ;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
}

/*para que tengan mismo tamaño*/
.card-img-autoridades{
    height: 250PX;
}

/*titulos h3*/
.titulo-h3{
    color: rgb(6, 133, 135);
}
/*titulo autoridades*/
.titulo-h1{
    color: rgb(6, 133, 135);
}

/*titulo cartas*/
.card-titl{
     color: rgb(6, 133, 135);
}

.card-autoridades{
     color: rgb(6, 133, 135);
}

.parrafo{
    color: black;
}



/*parrafo estilos*/
.card{
    border: 2px black solid;
}
.card-group img{
    height: 250px;
 
}
.card-body{
   background-color: rgb(224, 217, 217);
   
}
.card-body2{
background-color: rgb(67, 73, 76);
color: black;
border: 2px black solid;
}




.card-header1{
    background-color: rgb(38, 42, 45);
    color: rgb(255, 255, 255);
    border: 2px black solid;
}
